@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &::before {
    content: "";
  }
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slide {
  height: 100vh;
  position: relative;
}

.slide-1-bg {
  background-size: cover, cover;
  background-position: center, center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../src/directory/assets/jumbotron.png);
}
