@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("commons/assets/fonts/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("commons/assets/fonts/Merienda-VariableFont_wght.ttf")
    format("truetype");
}

@theme {
  /* font family */
  --font-manrope: "Manrope";
  --font-merienda: "Merienda";

  /* color */
  --color-primary-red: #970024;
  --color-primary-black: #374151;
  /* typography scale */

  /** breakpoints*/
  --breakpoint-mini-tablet: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}

body {
  font-family: "Manrope";
  max-width: 1920px;
  color: var(--color-primary-black);
}

@import "./commons/index.css";
@import "./directory/index.css";
